AGENT_WORK_DIR={{ workdir }}
AGENT_LOG_MAX_BYTES="{{ log_max_bytes }}"
AGENT_LOG_MAX_HISTORY="{{ log_max_history }}"
AGENT_LOG_DIR="{{ log_dir }}"
AGENT_LOG_LEVEL="{{ log_level }}"
LOCAL_REST_CERT_FILE="{{ local_rest_cert_file }}"
AGENT_NAME="{{ name }}"
CLOUDIFY_DAEMON_USER="{{ user }}"
CLOUDIFY_DAEMON_STORAGE_DIRECTORY="{{ storage_dir }}"
{% if executable_temp_path -%}
# Executable tempfiles directory override
CFY_EXEC_TEMP="{{ executable_temp_path }}"
{% endif %}
CFY_RESOURCES_ROOT="{{ resources_root }}"
CFY_PLUGINS_ROOT="{{ agent_dir }}"

{% if extra_env %}
{% for env_key, env_value in extra_env.items() %}
{{ env_key }}="{{ env_value }}"
{% endfor %}
{% endif %}