[Unit]
Description=Cloudify Agent Worker Service

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile={{ config_path }}
User=amqpinflux
Group=amqpinflux
ExecStart={{ virtualenv_path }}/bin/worker --queue {{ queue }}

[Install]
WantedBy=multi-user.target
