testtools
mock==1.0.1
unittest2
FileServer
https://github.com/cloudify-cosmo/cloudify-common/archive/4.5.1.zip
pywinrm==0.3.0

# for creating the agent package in tests
https://github.com/cloudify-cosmo/cloudify-agent-packager/archive/master.zip
