echo Installing the agent as a windows service...

{{ nssm_path }} install {{ agent_service_name }} {{ virtualenv_path }}\Scripts\celeryd.exe {{ params }}

echo Setting service environment

{{ nssm_path }} set {{ agent_service_name }} AppEnvironmentExtra {{ environment }}

echo Configuring startup policy...

sc config {{ agent_service_name }} start= {{ startup_policy }}

echo Configuring failure policy...

sc failure {{ agent_service_name }} reset= {{ failure reset_timeout }} actions= restart/{{ failure_restart_delay }}
