#!/bin/bash

export CLOUDIFY_DAEMON_NAME={{ name }}
export CLOUDIFY_DAEMON_STORAGE_DIRECTORY={{ storage_dir }}
export CLOUDIFY_DAEMON_USER={{ user }}

export AGENT_WORK_DIR={{ workdir }}
export MANAGER_FILE_SERVER_URL="https://{{ rest_host }}:{{ rest_port }}/resources"
export LOCAL_REST_CERT_FILE="{{ local_rest_cert_file }}"
export REST_HOST="{{ rest_host }}"
export REST_PORT="{{ rest_port }}"

# Executable tempfiles directory override
export CFY_EXEC_TEMP="{{ executable_temp_path }}"

# Extra environment variables provided by users
EXTRA_ENV_PATH={{ extra_env_path }}
if [ -f ${EXTRA_ENV_PATH} ]; then
    . ${EXTRA_ENV_PATH}
fi