#!/bin/bash

# Cloudify environment variables
export CLOUDIFY_DAEMON_NAME={{ name }}
export CLOUDIFY_DAEMON_STORAGE_DIRECTORY={{ storage_dir }}
export CLOUDIFY_DAEMON_USER={{ user }}
export REST_HOST={{ rest_host }}
export REST_PORT={{ rest_port }}
export FILE_SERVER_HOST={{ file_server_host }}
export FILE_SERVER_PORT={{ file_server_port }}
export FILE_SERVER_PROTOCOL={{ file_server_protocol }}
export LOCAL_REST_CERT_FILE={{ local_rest_cert_file }}
export MANAGER_FILE_SERVER_URL={{ file_server_protocol }}://{{ file_server_host }}:{{ file_server_port }}
export MANAGER_FILE_SERVER_BLUEPRINTS_ROOT_URL={{ file_server_protocol }}://{{ file_server_host }}:{{ file_server_port }}/blueprints
export MANAGER_FILE_SERVER_DEPLOYMENTS_ROOT_URL={{ file_server_protocol }}://{{ file_server_host }}:{{ file_server_port }}/deployments
export VIRTUALENV={{ virtualenv_path }}
export PATH="${VIRTUALENV}/bin:${PATH}"

# Celery worker environment variables
export CELERY_WORK_DIR={{ workdir }}
export CELERY_APP=cloudify_agent.app.app
export CELERY_TASK_SERIALIZER=json
export CELERY_RESULT_SERIALIZER=json
# Needed in case agent user is root
export C_FORCE_ROOT=true

# extra environment variables provided by users
EXTRA_ENV_PATH={{ extra_env_path }}
if [ -f ${EXTRA_ENV_PATH} ]; then
    . ${EXTRA_ENV_PATH}
fi

