#!/bin/bash -e

# sourcing the configuration file
. {{ config_path }}

# running the celery worker command directly
{{ virtualenv_path }}/bin/celery worker \
--events \
--queues={{ queue }} \
--hostname={{ name }} \
--autoscale={{ max_workers }},{{ min_workers }} \
--maxtasksperchild=10 \
--without-gossip \
--without-mingle \
--loglevel={{ log_level }} \
--pidfile={{ pid_file }} \
--logfile={{ log_file }} \
--include=cloudify.dispatch \
--detach \
--config=cloudify.broker_config \
-Ofair \
--with-gate-keeper \
--gate-keeper-bucket-size={{ max_workers }} \
--with-logging-server \
--logging-server-logdir={{ workdir }}/logs \
--heartbeat-interval=2