#!/bin/bash

export AGENT_WORK_DIR="{{ workdir }}"
export AGENT_LOG_MAX_BYTES="{{ log_max_bytes }}"
export AGENT_LOG_MAX_HISTORY="{{ log_max_history }}"
export AGENT_LOG_DIR="{{ log_dir }}"
export AGENT_LOG_LEVEL={{ log_level }}
export LOCAL_REST_CERT_FILE="{{ local_rest_cert_file }}"
export CLOUDIFY_DAEMON_STORAGE_DIRECTORY="{{ storage_dir }}"
export AGENT_NAME="{{ name }}"

export CFY_RESOURCES_ROOT="{{ resources_root }}"
export CFY_PLUGINS_ROOT="{{ agent_dir }}"

{% if executable_temp_path -%}
# Executable tempfiles directory override
export CFY_EXEC_TEMP="{{ executable_temp_path }}"
{% endif %}
export ENABLE_CRON_SCRIPT="{{ enable_cron_script }}"
export DISABLE_CRON_SCRIPT="{{ disable_cron_script }}"
export ENABLE_CRON_RESPAWN={{ cron_respawn }}
export CLOUDIFY_DAEMON_USER={{ user }}

{% if extra_env %}
# Extra environment variables provided by users
{% for env_key, env_value in extra_env.items() %}
export {{ env_key }}="{{ env_value }}"
{% endfor %}
{% endif %}