#!/bin/bash

# Cloudify environment variables
export CLOUDIFY_DAEMON_NAME={{ name }}
export CLOUDIFY_DAEMON_STORAGE_DIRECTORY={{ storage_dir }}
export CLOUDIFY_DAEMON_USER={{ user }}
export REST_HOST={{ rest_host }}
export REST_PORT={{ rest_port }}
export LOCAL_REST_CERT_FILE={{ local_rest_cert_file }}
export MANAGER_FILE_SERVER_URL=https://${REST_HOST}:${REST_PORT}/resources
export VIRTUALENV={{ virtualenv_path }}
export PATH="${VIRTUALENV}/bin:${PATH}"
export CLOUDIFY_CLUSTER_SETTINGS_PATH={{ cluster_settings_path|default('') }}

# Celery worker environment variables
export CELERY_WORK_DIR={{ workdir }}
export CELERY_APP=cloudify_agent.app.app
export CELERY_TASK_SERIALIZER=json
export CELERY_RESULT_SERIALIZER=json
# Needed in case agent user is root
export C_FORCE_ROOT="true"

# Daemon variables, used by the daemonization script
CELERYD_ENABLE_CRON_SCRIPT={{ enable_cron_script }}
CELERYD_DISABLE_CRON_SCRIPT={{ disable_cron_script }}
CELERYD_CRON_RESPAWN={{ cron_respawn }}
CELERYD_GROUP={{ user }}
CELERYD_USER={{ user }}
CELERYD_LOG_LEVEL={{ log_level }}
CELERYD_PID_FILE="{{ pid_file }}"
CELERYD_LOG_FILE="{{ log_file }}"
CELERYD_ENV_DIR={{ virtualenv_path }}
CELERYD_OPTS="\
    --events \
    -Q {{ queue }} \
    --hostname={{ name }} \
    --autoscale={{ max_workers }},{{ min_workers }} \
    --maxtasksperchild=10 \
    -Ofair \
    --without-gossip \
    --without-mingle \
    --config=cloudify.broker_config \
    --include=cloudify.dispatch \
    --with-gate-keeper \
    --gate-keeper-bucket-size={{ max_workers }} \
    --with-logging-server \
    --logging-server-logdir={{ workdir }}/logs \
    --heartbeat-interval=2"
CELERY_BIN="${CELERYD_ENV_DIR}/bin/celery"

# extra environment variables provided by users
EXTRA_ENV_PATH={{ extra_env_path }}
if [ -f ${EXTRA_ENV_PATH} ]; then
    . ${EXTRA_ENV_PATH}
fi
