version: '3.4'

x-common-variables: &common-variables
  - GITHUB_USERNAME=${GITHUB_USERNAME}
  - GITHUB_PASSWORD=${GITHUB_PASSWORD}
  - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
  - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
  - REPO=${REPO}
  - BRANCH=${BRANCH}

services:
  centos6_base:
    build:
      context: ./
      dockerfile: docker-files/centos_rhel/Dockerfile
      args:
        BASE_IMAGE: centos:6
    image: centos6_base_img
  centos6_agent:
    build:
      context: ./
      dockerfile: docker-files/Dockerfile
      args:
        BASE_IMAGE: centos6_base_img
    image: centos6_agent_img
    container_name: centos6_agent
    environment: *common-variables
    network_mode: host
    depends_on:
      - centos6_base

  centos7_base:
    build:
      context: ./
      dockerfile: docker-files/centos_rhel/Dockerfile
      args:
        BASE_IMAGE: centos:7
    image: centos7_base_img
  centos7_agent:
    build:
      context: ./
      dockerfile: docker-files/Dockerfile
      args:
        BASE_IMAGE: centos7_base_img
    image: centos7_agent_img
    container_name: centos7_agent
    environment: *common-variables
    network_mode: host
    depends_on:
      - centos7_base

  ubuntu14_base:
    build:
      context: ./
      dockerfile: docker-files/ubuntu/Dockerfile
      args:
        BASE_IMAGE: ubuntu:14.04
    image: ubuntu14_base_img
  ubuntu14_agent:
    build:
      context: ./
      dockerfile: docker-files/Dockerfile
      args:
        BASE_IMAGE: ubuntu14_base_img
    image: ubuntu14_agent_img
    container_name: ubuntu14_agent
    environment: *common-variables
    network_mode: host
    depends_on:
      - ubuntu14_base

  ubuntu16_base:
    build:
      context: ./
      dockerfile: docker-files/ubuntu/Dockerfile
      args:
        BASE_IMAGE: ubuntu:16.04
    image: ubuntu16_base_img
  ubuntu16_agent:
    build:
      context: ./
      dockerfile: docker-files/Dockerfile
      args:
        BASE_IMAGE: ubuntu16_base_img
    image: ubuntu16_agent_img
    container_name: ubuntu16_agent
    environment: *common-variables
    network_mode: host
    depends_on:
      - ubuntu16_base

  ubuntu18_base:
    build:
      context: ./
      dockerfile: docker-files/ubuntu/Dockerfile
      args:
        BASE_IMAGE: ubuntu:18.04
    image: ubuntu18_base_img
  ubuntu18_agent:
    build:
      context: ./
      dockerfile: docker-files/Dockerfile
      args:
        BASE_IMAGE: ubuntu18_base_img
    image: ubuntu18_agent_img
    container_name: ubuntu18_agent
    environment: *common-variables
    network_mode: host
    depends_on:
      - ubuntu18_base
