#! /bin/bash -e

mkdir -p $(dirname {{ ssl_cert_path }})
echo "{{ ssl_cert_content }}" > {{ ssl_cert_path }}

/usr/bin/python3 -m venv ~/{{ conf.name }}
~/{{ conf.name }}/bin/pip install cloudify-agent \
    --index-url https://admin:admin@{{ rest_host }}:53333/resources/packages/python/ \
    --cert {{ ssl_cert_path }}

~/{{ conf.name }}/bin/cfy-agent setup \
    --ca-cert {{ ssl_cert_path }} \
    --token {{ auth_token_value }} \
    --manager-ip {{ rest_host }} \
    --node-instance-id {{ conf.name }}

~/{{ conf.name }}/bin/cfy-agent daemons create \
    --name {{ conf.name }}
