#ps1_sysnative

$ErrorActionPreference = "Stop"

function Download($Url, $OutputPath)
{
    # Make sure the output directory exists
    New-Item -ItemType directory -Force -Path (Split-Path $OutputPath)

    # Add the certificate to the root cert store
    Import-Certificate -FilePath "{{ ssl_cert_path }}" -CertStoreLocation Cert:\LocalMachine\Root

    $WebClient = New-Object System.Net.WebClient
    $WebClient.Headers.add('{{ auth_token_header }}', '{{ auth_token_value }}')
    $WebClient.DownloadFile("$Url", "$OutputPath")
}

function AddSSLCert()
{
    New-Item "{{ ssl_cert_path }}" -type file -force -value "{{ ssl_cert_content }}"
}

function DownloadAndExtractAgentPackage()
{
    AddSSLCert
    Download {{ conf.package_url }} "{{ conf.basedir }}\cloudify-windows-agent.exe"
    # This call is not blocking so we pipe the output to null to make it blocking
    & "{{ conf.basedir }}\cloudify-windows-agent.exe" /SILENT /VERYSILENT /SUPPRESSMSGBOXES /DIR="{{ conf.agent_dir }}" | Out-Null
}

function ExportDaemonEnv()
{
    $env:Path = "{{ conf.agent_dir }}\Scripts" + ";" + $env:Path
    {% for env_key, env_value in daemon_env.iteritems() %}
        $env:{{ env_key }} = "{{ env_value }}"
    {% endfor %}
}

function CreateCustomEnvFile()
{
    {% if custom_env is not none %}
        Set-Content "{{ custom_env_path }}" ""
        {% for env_key, env_value in custom_env.iteritems() %}
             Add-Content "{{ custom_env_path }}" 'set {{ env_key }}="{{ env_value }}"'
        {% endfor %}
    {% else %}
        Write-Host "No custom env configured"
    {% endif %}
}

function ConfigureAgent()
{
    cfy-agent configure {{ configure_flags }}
}

function StartDaemon()
{
    cfy-agent daemons create {{ pm_options }}
    cfy-agent daemons configure
    cfy-agent daemons start
}

function InstallAgent()
{
    {% if conf.install_method == 'init_script' %}
        DownloadAndExtractAgentPackage
    {% endif %}
    ExportDaemonEnv
    CreateCustomEnvFile
    {% if conf.install_method == 'init_script' %}
        ConfigureAgent
    {% endif %}
    StartDaemon
}

InstallAgent
