#ps1_sysnative

# All output should be UTF-8 (default is UTF-16).
$PSDefaultParameterValues['*:Encoding'] = 'utf8'

# Stop whenever a non-terminating cmdlet generates an error.
$ErrorActionPreference = "Stop"

{% if add_ssl_cert %}
function AddSSLCert()
{
    # Make sure the output directory exists
    New-Item -ItemType directory -Force -Path (Split-Path "{{ ssl_cert_path }}")

    # Create a new file with the certificate content
    New-Item "{{ ssl_cert_path }}" -type file -force -value "{{ ssl_cert_content }}"

    # Add the certificate to the root cert store
    Import-Certificate -FilePath "{{ ssl_cert_path }}" -CertStoreLocation Cert:\LocalMachine\Root
}
{% endif %}


{% if install %}
function Download($Url, $OutputPath)
{
    # Make sure the output directory exists
    New-Item -ItemType directory -Force -Path (Split-Path $OutputPath)

    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    $WebClient = New-Object System.Net.WebClient
    $WebClient.Headers.add('{{ auth_token_header }}', '{{ auth_token_value }}')
    $WebClient.DownloadFile("$Url", "$OutputPath")
}

function InstallAgent()
{
    {% if add_ssl_cert %}
    AddSSLCert
    {% endif %}
    if (-Not ([System.IO.File]::Exists("{{ conf.envdir }}\Scripts\cfy-agent.exe"))) {
        Download "{{ conf.package_url }}" "{{ conf.basedir }}\cloudify-windows-agent.exe"
        # This call is not blocking so we pipe the output to null to make it blocking
        & "{{ conf.basedir }}\cloudify-windows-agent.exe" /SILENT /VERYSILENT /SUPPRESSMSGBOXES /DIR="{{ conf.envdir }}" | Out-Null
    } else {
        Write-Output "Agent env already installed in {{ conf.envdir }}."
    }
}
{% endif %}

{% if configure %}
function ExportDaemonEnv()
{
    $env:Path = "{{ conf.envdir }}\Scripts" + ";" + $env:Path
    {% for env_key, env_value in daemon_env.iteritems() %}
        $env:{{ env_key }} = "{{ env_value }}"
    {% endfor %}
}

function CreateCustomEnvFile()
{
    {% if custom_env is not none %}
        Set-Content "{{ custom_env_path }}" ""
        {% for env_key, env_value in custom_env.iteritems() %}
             Add-Content "{{ custom_env_path }}" 'set {{ env_key }}="{{ env_value }}"'
        {% endfor %}
    {% else %}
        Write-Host "No custom env configured"
    {% endif %}
}

function ConfigureAgent()
{
    ExportDaemonEnv
    CreateCustomEnvFile

    Write-Output "Configuring agent..."
    cfy-agent configure {{ configure_flags }}
    if (!$?) {
        Write-Output "Failed configuring agent (rc=$LASTEXITCODE)"
        Exit 1
    }
    Write-Output "Agent configured successfully"
}
{% endif %}

{% if start %}
function StartAgent()
{
    if (-Not ($Agentlist | Select-String $env:CLOUDIFY_DAEMON_NAME)) {
        Write-Output "Creating daemon..."
        cfy-agent daemons create {{ pm_options }}
        if (!$?) {
            Write-Output "Failed creating daemon (rc=$LASTEXITCODE)"
            Exit 1
        }
        Write-Output "Daemon created successfully"
    } else {
        Write-Output "Agent already created, skipping create agent."
    }

    Write-Output "Configuring daemon..."
    cfy-agent daemons configure
    if (!$?) {
        Write-Output "Failed configuring daemon (rc=$LASTEXITCODE)"
        Exit 1
    }
    Write-Output "Daemon configured successfully"

    Write-Output "Starting daemon..."
    cfy-agent daemons start
    if (!$?) {
        Write-Output "Failed starting daemon (rc=$LASTEXITCODE)"
        Exit 1
    }
    Write-Output "Daemon started successfully"
}
{% endif %}


function Main()
{
    {% if install %}
    InstallAgent
    {% endif %}
    {% if configure %}
    ConfigureAgent
    {% endif %}
    {% if start %}
    StartAgent
    {% endif %}
}

Main
